doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/bundle.css')
  body  
    main.container
      != messages()
      block content                   


    script(src='/js/bundle.js')